<h1>Editar Usuario</h1>

<%= form_for @user, url: user_path(@user), method: :patch, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>

  <% if @user.photo.attached? %>
    <%= image_tag url_for(@user.photo), alt: "Foto de perfil de #{@user.email}", width: 200 %>
  <% end %>

  <div class="actions">
    <%= f.submit "Actualizar Usuario" %>
  </div>
<% end %>



