<h1>Editar Oferta Laboral</h1>

<%= form_for @job_offer do |f| %>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title %>
  <br>
  
  <%= f.label :description, "Descripción" %>
  <%= f.text_area :description %>
  <br>
  
  <%= f.label :requirements, "Requisitos" %>
  <%= f.text_area :requirements %>
  <br>

  <%= f.label :salary, "Salario" %>
  <%= f.number_field :salary %>
  <br>
  
  <%= f.submit "Actualizar Oferta Laboral" %>
<% end %>

