<% if @job_offer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@job_offer.errors.count, "error") %> prohibió que esta oferta de trabajo se guardara:</h2>
    <ul>
      <% @job_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @job_offer do |f| %>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title %>
  <%= f.label :description, "Descripción" %>
  <%= f.text_area :description %>
  <%= f.label :requirements, "Requisitos" %>
  <%= f.text_area :requirements %>
  
  <%= f.label :salary, "Salario" %>
  <%= f.number_field :salary %>
  <br>
  
  <% if current_user.admin? %>
    <%= f.submit "Crear Nueva Oferta Laboral", class: 'btn btn-primary' %>
  <% end %>
<% end %>



