<h1><%= @job_offer.title %></h1>
<p><strong>Descripción:</strong> <%= @job_offer.description %></p>
<p><strong>Requisitos:</strong> <%= @job_offer.requirements %></p>
<p><strong>Salario:</strong> <%= @job_offer.salary %></p>

<% if user_signed_in? && !current_user.admin? %>
  <% if @job_offer.job_applications.where(user_id: current_user.id).exists? %>
    <p>Ya has postulado a este trabajo.</p>
  <% else %>
    <%= button_to 'Postularme a este trabajo', job_applications_path(job_offer_id: @job_offer.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Volver a la lista de ofertas', job_offers_path %>

